:root {

  --margin: 5px;

  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;

  --color-logo: #AAA9AD;

  --primary-color: #bbb;
  --secondary-color: darkgrey;
  --tertiary-color: lime;
  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #2e2e2e;

  --background: #2a3439;

  --scrollbar-width: 5px;
  --scrollbar-track: #2a3439;
  --scrollbar-handle: #181e21;

  --selection-background: lightblue;
  --selection-color: white;

  --max-width: 900px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Staatliches';
  --font-size: 100%;
}

.gunmetal {
  --background-color: #2A3439;
  --background-border-color: #2A3439;
  --border-bg-color: #2A3439;
  background: #2A3439;
}

.gunmetal-text {
  color: #AAA9AD;
  font-size: 2em;
}

.color-scheme {
  background: #00000045;
}
.color-scheme div {
  padding: 40px;
}

header {
  font-weight: 100;
}
